<!doctype html>
<html lang="en">
  <head>
    <title>AritBiz</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>

  <body>
    <div class="container">
      <a href="/">
        <img
          src="{{ url_for('static', filename='aritbiz_logo.png') }}"
          alt="AritBiz Logo"
          class="logo"
        />
      </a>

      <nav>
        <a href="/">Home</a>
        <a href="/clients">Clients</a>
        <a href="/projects">Projects</a>
        <a href="/invoices">Invoices</a>
        <a href="/analytics">Analytics</a>

        {% if session.user_id %}
        <a href="/logout">Logout</a>
        {% else %}
        <a href="/login">Login</a>
        {% endif %}
      </nav>

      <main>{% block body %}{% endblock %}</main>
    </div>
  </body>
</html>
